.jumbotron {
	background-color: #2F383B;
	color: #FFFFFF;
}

.topheader {
	text-align: center;
}
.jumbotron p {
	text-align: center;
}
.header {
	text-align: center;
}
.john {
	width: 100%;
	border-radius: 50%;

}
.paul {
	width: 100%;
	border-radius: 50%;
}
.george {
	width: 100%;
	border-radius: 50%;
}
.ringo {
	width: 100%;
	border-radius: 50%;
}